.editor {
  width: 100%;
  height: 100%;
}

.line {
  width: 100%;
  height: 18px;
  /* background-color: lightblue; */
  border-bottom: 1px dotted gray;
}

.char {
  display: inline-block;
  white-space: pre;
  /* height: inherit; */
  /* background-color: aqua; */
}

.indent {
  display: inline-block;
  height: inherit;
  width: 1.5em;
  margin: 0;
  padding: 0;
  /* background-color: red; */
}

my-cursor {
  position: absolute;
}