.editor {
  width: 100%;
  height: 100%;
}

.line {
  width: 100%;
  height: 18px;
  /* background-color: lightblue; */
  border-bottom: 1px dotted gray;
}

.char {
  height: 18px;
}

my-cursor {
  position: absolute;
}