.editor {
  width: 100%;
  height: 100%;
}

.line {
  width: 100%;
  height: 18px;
  /* background-color: lightblue; */
  border-bottom: 1px dotted gray;
}

.char {
  display: inline-block;
  white-space: pre;
  /* height: inherit; */
  /* background-color: aqua; */
}

.space {
  display: inline-block;
  width: 1.5em;
  height: inherit;
  margin: 0;
  padding: 0;
  pointer-events: none; /* クリックを透過する */
  /* background-color: red; */
}

.indent-mark {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 3px;
  background-color: #bbbbbb;
}

my-cursor {
  position: absolute;
}